

    <div id="left-sidebar" class="sidebar">
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class="g_heading">Main</li>
                <li ><a href="/admin/Dashboard"><i class="icon-home"></i> <span>Dashboard</span></a></li>
                
                <li>
                    <a href="/admin/Dashboard/Teachers/1"><i class="icon-grid"></i> Application</a>
                   
                </li>
               
             @*   <li>
                    <a href="javascript:void(0)" class="has-arrow"><i class="fe fe-check-square"></i> Tables</a>
                    <ul>
                        <li><a href="table-basic.html">Table Example</a></li>
                        <li><a href="table-normal.html">Table Normal</a></li>
                       
                    </ul>
                </li>
                <li class="g_heading">Extra</li>*@
               
              @*  <li>
                    <a href="javascript:void(0)" class="has-arrow"><i class="icon-lock"></i> Auth</a>
                    <ul>
                        <a class="dropdown-item" href="login.html">Login</a>
                        <a class="dropdown-item" href="register.html">Register</a>
                        <a class="dropdown-item" href="forgot-password.html">Forgot password</a>
                     
                    </ul>
                </li>*@
            </ul>
        </nav>
    </div>