<footer id="footer" class="hidden-print navbar-default text-center">
    <hr />
    <div class="container">
        <p>
            Copyright © @DateTime.Now.Year Maa Vindhyavasini University, Mirzapur. All Rights Reserved.
        </p>
        <p>
            
        </p>
    </div>
</footer>