<footer id="footer" class="hidden-print navbar-default  p-4 text-center">
   
    <div class="row">
        <p>
            Copyright © @DateTime.Now.Year Maa Vindhyavasini University, Mirzapur. All Rights Reserved.
        </p>
        
    </div>
</footer>